.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card_colum {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.card__img {
  width: 250px; /* Adjust the image width as needed */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px;
}
.card p {
  color: var(--soft-color);
  font-size: 16px;
  margin: 8px 0;
}
.card h4,
p {
  font-size: 18px;
  margin: 4px 0;
  color: #666;
}
.card h2 {
  text-decoration: underline;
  font-size: 24px;
  margin: 0;
  padding-top: 1rem;
}
.card:hover {
  box-shadow: 0px 0px 10px var(--softer-color);
  transform: scale(1.01);
}
.card-price-add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



.each_item {
  font-size: 11px;
  color: #666;
  margin: 0 0.5rem;
  /* margin-left: 1.2rem;
  margin-right: 1.2rem; */
}
.add-item-btn,
.remove-item-btn {
  width: fit-content;
  padding: 0.5rem 1rem;
  display: block;
  font-size: 1rem;
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 0.5rem;
  cursor: pointer;
}
.remove-item-btn {
  border-color: var(--color-danger);
  color: var(--color-danger);
}
.add-item-btn:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.remove-item-btn:hover {
  background-color: var(--color-danger);
  color: var(--color-white);
}
